@tailwind components;

@layer components {
    .mainDiv {
        @apply flex flex-col gap-1.5
    }
    .formDiv > input, .formDiv> textarea {
        @apply rounded-md resize-y py-2 px-2
    }
    .formDiv > label {
        @apply font-semibold text-[1.075rem]
    }
    .formDiv {
        @apply flex flex-col gap-0.5
    }
    
    .radio {
        @apply flex gap-1 flex-col py-1
        
    }
    .radio > div {
        @apply flex gap-1.5 font-normal text-sm
    }
}


.formDiv > input, .formDiv> textarea {
    border: 1px solid;
    border-color: hsl(var(--gray-color));
}
.formDiv > input:focus, .formDiv> textarea:focus, .formDiv > input:hover, .formDiv> textarea:hover {
    border: 1px solid;
    outline: none;
    border-color: hsl(var(--primary-color));
    box-shadow: 0px 0 5px 0px hsl(var(--primary-color));
}

