
    .main>h1 {
        @apply text-3xl font-bold pb-4
    }

    .form {
        @apply flex flex-col gap-5 py-3
    }
    
    .selectData > select,
    .form>input,
    .form>button,
    .form>textarea,
    .priceInputDiv>input,
    .detailDiv>div>input {
        @apply py-2 px-3 placeholder:font-medium font-medium focus:outline-none rounded-lg border-2 w-full
    }

    .selectData>select>option,
    .selectData>select {
        @apply capitalize font-medium
    }

    .imageSelectDiv>input:first-child {
        @apply hidden
    }

    .priceDiv>div,
    .detailDiv>div {
        @apply flex gap-3 items-center
    }

    .detailDiv>div>input {
        @apply w-1/2
    }

    .selectData > input,
    .detailDiv>div>.addButton {
        @apply px-4 h-fit py-2 font-semibold cursor-pointer rounded-md w-fit
    }

    .detailDiv>.displayDetailDiv,
    .priceDiv>h3 {
        @apply flex-col items-start gap-0 pt-1.5 capitalize font-semibold text-xl px-2
    }

    .displayDetailDiv > div {
        @apply flex justify-between w-full items-center pt-2 pb-1 border-b-2
    }
    .displayDetailDiv > div {
        border-color: hsl(var(--primary-color) / .25);
    }
    .displayDetailDiv > div > span{
       @apply w-10 p-1 rounded-md
    }

    .imageDiv {
        @apply flex justify-center items-center flex-col
    }
    .upperImageDiv {
        @apply w-full pt-4 grid grid-cols-3 gap-4
    }
    .uploadedImageDiv {
        @apply h-full flex flex-col
    }
   
    .uploadedImageDiv>a>div {
        @apply h-full aspect-square relative flex bg-white
    }
    .uploadedImageDiv>input {
        @apply px-4 h-fit py-2 font-semibold cursor-pointer
    }

    .imageSelectDiv {
        @apply relative h-14 w-full
    }
    .imageSelectDiv > span{
        @apply absolute top-0 left-1/2 -translate-x-1/2 h-14 aspect-square p-4 rounded-full
    }

    .selectData {
        @apply flex gap-4
    }
    .selectData > select {
        @apply w-full
    }

.cropEasyDiv {
    @apply h-screen w-full fixed z-50 top-0 right-0 left-0 flex justify-center items-center
}

.cropEasyDiv {
    background-color: hsl(var(--black-color) / .25);
}

.main>h1 {
    font-family: 'Poppins', sans-serif;
    color: hsl(var(--primary-color));
}

.uploadedImageDiv>input,
.selectData > input,
.detailDiv>div>.addButton {
    background-color: hsl(var(--primary-color) / .25);
    color: hsl(var(--black-color));
    transition: all 0.25s;
}

.uploadedImageDiv>input:focus,
.uploadedImageDiv>input:hover,
.selectData > input:focus,
.selectData > input:hover,
.detailDiv>div>.addButton:focus,
.detailDiv>div>.addButton:hover {
    transition: all 0.25s;
    background-color: hsl(var(--primary-color));
    color: hsl(var(--white-color));
}

.imageDiv>div>div {
    background-color: hsl(var(--primary-color) / .25);
}
.form>input,
.form>textarea,
.selectData>select,
.selectData>select>option,
.priceInputDiv>input,
.detailDiv>div>input {
    border-color: hsl(var(--primary-color) / .4);
    color: hsl(var(--black-color) / .75);
}

.priceInputDiv>input:focus,
.detailDiv>div>input:focus,
.form>input:focus,
.form>textarea:focus,
.selectData>select:focus {
    border-color: hsl(var(--primary-color) / .75);
}

.detailDiv>.displayDetailDiv>div>h3,
.priceDiv>h3 {
    font-family: 'Jost', sans-serif;
    color: hsl(var(--primary-color) / .75);
}

.displayDetailDiv > div > span,
.imageSelectDiv > .imageSelectButton, .form > button {
    background-color: hsl(var(--primary-color) / .5);
    color: hsl(var(--black-color));
    font-family: 'Jost', sans-serif;
    font-size: 1.2rem;
    font-weight: 900;
    cursor: pointer;
    transition: background-color 0.25s ease, color 0.25s ease;
}
.displayDetailDiv > div > span:hover,
.imageDiv > p > span:hover, .form > button:hover {
    background-color: hsl(var(--primary-color));
    color: hsl(var(--white-color));
}

.priceInputDiv {
    @apply flex flex-col w-full
}

.priceInputDiv > label {
    @apply font-semibold pl-1
}