
.buttonDiv {
    @apply w-full py-3 flex justify-end
}

.buttonDiv>button {
    @apply w-fit py-2 px-3 font-medium text-xl rounded-lg
}


.buttonDiv>button {
    transition: all 0.5s;
    border: 2px solid hsl(var(--primary-color));
    background-color: hsl(var(--primary-color));
    color: hsl(var(--white-color));
}

.buttonDiv>button:hover,
.buttonDiv>button:focus {
    border: 2px solid hsl(var(--white-color));
    color: hsl(var(--primary-color));
    background-color: hsl(var(--white-color));
}

.productList {
    @apply flex flex-col gap-4 w-full
}

.productList>div {
    @apply flex w-full
}

.productList>div>button {
    @apply rounded-xl py-2 font-semibold w-16
}
.productList>div>button {
    transition: background-color 0.5s ease;
    background-color: hsl(var(--primary-color) / .5);
}
.productList>div>button:hover, .productList>div>button:focus{
    background-color: hsl(var(--primary-color));
}
