.main {
    @apply px-4
}

.buttonDiv {
    @apply w-full py-3 flex justify-end
}

.buttonDiv>button {
    @apply w-fit py-2 px-3 font-medium text-xl rounded-lg
}




.main {
    background-color: hsl(var(--light-white-color));
}

.buttonDiv>button {
    border: 2px solid hsl(var(--primary-color));
    color: hsl(var(--primary-color));
    background-color: hsl(var(--white-color));
    transition: all 0.5s;
}

.buttonDiv>button:hover,
.buttonDiv>button:focus {
    border: 2px solid hsl(var(--primary-color));
    background-color: hsl(var(--primary-color));
    color: hsl(var(--white-color));
}