
.mainDiv {
    @apply py-2 flex justify-between items-center
}
/* .buttonDiv {
    @apply
} */
.buttonDiv >button {
    @apply  font-medium capitalize text-xl w-fit relative flex gap-1 items-center h-fit
}
.buttonDiv >button > img {
    @apply  w-2.5 mt-0.5
}
    
.mainDiv >h1 {
    @apply text-lg capitalize
}

.mainDiv > h1{
    color: hsl(var(--primary-color));
}

.buttonDiv > button {
    color: hsl(var(--black-color) );
    outline: none;
}

.buttonDiv > button::after {
    position: absolute;
    content: attr(data-content);
    bottom: -0.5px;
    left: 0;
    height: 0.5px;
    width: 0%;
    background-color: hsl(var(--black-color));
    overflow: hidden;
    transition: width 0.5s ease;
}

.buttonDiv > button:hover::before,
.buttonDiv > button:hover::after,
.buttonDiv > button:focus::before,
.buttonDiv > button:focus::after {
    width: 100%;
    }

