@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color:var(--primary-res-color) 58%;
  --primary-res-color:43deg 47%;
  --secondary-color:0 0%;
  --black-color:var(--secondary-color) 0%;
  --white-color:var(--secondary-color) 100%;
  --light-white-color:var(--secondary-color) 97%;
  --gray-color:var(--secondary-color) 50%;
}

main {
  padding: 1rem;
  background-color:  hsl(var(--light-white-color));
  width: 100%;
}